<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<form method="POST" action="/process_login">
    <!-- В остальные формы данное скрытое поле будет добавлено автоматически by Thymeleaf -->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <label for="username">Введите имя пользователя: </label>
    <input type="text" name="username" id="username"/>
    <br/>
    <label for="password">Введите пароль:</label>
    <input type="password" name="password" id="password"/>
    <br/>
    <input type="submit" value="Log In"/>

    <div th:if="${param.error}" style="color: red">
        Неправильные имя и пароль
    </div>
</form>
<form th:method="GET" th:action="@{/auth/registration}">
    <input type="submit" value="Sign in">
</form>
</body>
</html>